<h1>{{formTitle}}</h1>

<form [formGroup]="taskForm" #formDirective="ngForm" (ngSubmit)="submitForm(formDirective)">
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" #title maxlength="20">
        <mat-hint align="end">{{title.value.length}} / {{titleMax}}</mat-hint>

        <mat-error *ngIf="taskForm.get('title').hasError('required')">
            Title is <strong>required</strong>.
        </mat-error>
        <mat-error *ngIf="taskForm.get('title').hasError('minlength')">
            Title needs at least {{titleMin}} characters.
        </mat-error>
        <mat-error *ngIf="taskForm.get('title').hasError('maxlength')">
            Title can have upto {{titleMax}} characters.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" #desc maxlength="140"
            cdkTextareaAutosize="true"
            cdkAutosizeMinRows="3"></textarea>
        <mat-hint align="end">{{desc.value.length}} / {{descMax}}</mat-hint>

        <mat-error *ngIf="taskForm.get('description').hasError('required')">
            Description is <strong>required</strong>.
        </mat-error>
        <mat-error *ngIf="taskForm.get('description').hasError('minlength')">
            Description needs at least {{descMin}} characters.
        </mat-error>
        <mat-error *ngIf="taskForm.get('description').hasError('maxlength')">
            Description can have upto {{descMax}} characters.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let val of taskStatusValues" [value]="val">
          {{taskStatusStrings[val]}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="form-buttons">
        <button mat-raised-button
            type="submit"
            color="primary"
            [disabled]="submitting||taskForm.invalid">
            {{submitBtnText}}
        </button>
        <button mat-raised-button
            color="warn"
            [disabled]="submitting"
            type="reset"
            (click)="resetForm()">
            Cancel
        </button>
    </div>
</form>