<div class="spinner-container" *ngIf="loading">
  <mat-spinner color="primary" diameter="50"></mat-spinner>
</div>

<ng-template [ngIf]="!loading">
  <app-task-list-form
    [listId]="id"
    (submittedTask)="onSubmittedTask($event)"
    class="mat-elevation-z8">
  </app-task-list-form>
  
  <div class="tasks-container">
    <mat-card *ngFor="let task of taskList.tasks">
      <mat-card-header>
        <mat-card-title>{{task.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="content-text" [innerHTML]="formatText(task.description)"></div>
        <div class="actions-container">
            <button class="action-button edit" (click)="editTask(task)">
                <mat-icon>edit</mat-icon>
            </button>
            <button class="action-button delete"
              (click)="deleteTask(task)"
              [disabled]="deletingId&&deletingId===task._id">
              <mat-icon>delete</mat-icon>
            </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>