:host {
    min-width: 300px;
    padding: 1.5em;

    form {
        display: flex;
        flex-direction: column;

        button {
            margin-top: 2em;
            margin-right: 1em;
        }
    }
}