:host {
    flex: 1;
    display: flex;
}

.spinner-container {
    flex: 1;
    align-self: center;
    display: flex;
    justify-content: center;
}

.task-lists-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}