/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.tasks-container {
    .mat-card-header-text {
        margin: 0;
    }
}

button.action-button {
    border: none;
    color: white;
    padding: 0.6em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 0.2em;
    border-radius: 50%;
    cursor: pointer;

    &.delete {
        background-color: #f44336;
    }

    &.edit {
        background-color: #673ab7;
    }
}

button.action-button[disabled] {
    background-color: rgba(0,0,0,.12);
    color: rgba(0,0,0,.26);
    cursor: default;
}